.Skillcard{
    display: flex;
    margin-top: 10px;
    align-items: center;
    
    
}


.SkillCard-Content {

    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
    padding: 30px;
    cursor:pointer;
    transition: transform 1s;
    
    
} 


.SkillsCard-ContentHovered{
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    cursor:pointer;
    transition: transform 1s ease;
    transform: scale(1.2);
}  